{% extends "base.html" %}

{% block title %}My Posts{% endblock %}

{% block content %}
        <div>
             {% if user.is_authenticated %}
             <ul class="navbar-nav mr-auto">
                 <li class="nav-item"><a href="{% url 'article_new' %}">+ New post</a></li>
             </ul>
             {% endif %}
        </div>
        <h1>My Posts</h1>
        {% for post in posts %}
            <h2>
                <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            </h2>
            <div class="date">
                Published {{ post.publish }} by {{ post.author }}
            </div>
                {{ post.body|truncatewords:30|linebreaks }}
            <div class="card-footer text-center text-muted">
                <a href={{post.id}}/edit>Edit</a> | <a href={{post.id}}/delete>Delete</a>
            </div>
        {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}